//Home Css

.profile_info{
    @extend %flex_grp_align_center;
    &_img{
        margin-right: 15px;
        img{
            width: 70px;
            height: 70px;
            border-radius: 50px;
            object-fit: cover;
            object-position: center center;
        }
    }
    &_desc{
        flex: 1;
        h1{
            @extend %primary-font;
            font-size: 28px;
            margin-bottom: 0px;
            margin-top: 6px;
            max-width: 190px;
        }
    }
    .event_img{
        margin-left: 15px; align-items: center;
        img{ width: 40px;}
        label{line-height:24px;}
        .custom_checkbox + label::before{left: -20px !important;}
        .cs_checkbox_grp, .cs_radio_grp {padding-left: 25px;}
        .custom_checkbox:checked + label::after{left: -13px !important;}
    }
}

.dflexcolmr{
    display: flex;justify-content: right;
    label{line-height:24px;}
    .custom_checkbox + label::before{left: -20px !important;}
    .cs_checkbox_grp, .cs_radio_grp {padding-left: 25px;}
    .custom_checkbox:checked + label::after{left: -13px !important;}
}

.app_alerts_wrap{
    min-height: 132px;
    margin-bottom: 20px;
    position: relative;
    transition: all 0.5s ease-out;
    &.no_alerts{
        min-height: auto;
        margin-bottom: 30px;
        transition: all 0.5s ease-out;
    }
    .app_alerts_list{
        position: absolute;
        top: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;  
        .app_alert_card{
            width: 98%;
            left: 7px;
            top: 7px;
            transition: all 0.5s ease-out;
            &:nth-child(1){
                z-index: 10;
            }
            &:nth-child(2){
                z-index: 9;
            }
            &:nth-child(3){
                z-index: 8;
            }
            &:nth-child(4){
                z-index: 7;
            }
            &:nth-child(5){
                z-index: 6;
            }
            &:nth-child(6){
                z-index: 5;
            }
            &:nth-child(7){
                z-index: 4;
            }
            &:nth-child(8){
                z-index: 3;
            }
            &:nth-child(9){
                z-index: 2;
            }
            &:nth-child(10){
                z-index: 1;
            }
            &:first-child{
                left: 0px;
                top: 0px;
            }
        }
        &.one_child{
            .app_alert_card{
                width: 100%;
                transition: all 0.5s ease-out;
            }
        }
    }
}

.app_alert_card{
    border-radius: 10px;
    width: 100%;
    @extend %white-bg;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.15);
    padding: 15px 12px 12px 12px;
    display: flex;
    flex-direction: column;
    position: absolute;
    button{
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .app_alert_title{
        font-size: 15px;
        margin-bottom: 12px;
        padding-right: 40px;
    }
    .app_alert_desc{
        font-size: 14px;
        margin-bottom: 12px;
        max-height: 43px;
        min-height: 43px;
        @include ellipsis(2);

    }
}    

.dashboard_card{
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    .balance_section{
        padding-top: 15px;
        border-top: 1px solid $light-gray1;
    }
}
.dashboard_account{
    padding-bottom: 15px;
    margin-bottom: 18px;
    border-bottom: 1px solid $light-gray1;
    flex: 1;
    &_info{
        .mobile_number{
            font-size: 20px;
            font-family: $proximanova-regular;
            margin-bottom: 4px;
            max-width: 150px;
        }
        .pack_name{
            margin-right: 4px;
            max-height: 34px;
            @include ellipsis(2);
        }
        .duration{
            font-size: 12px;
            color: $blue-gray;
        }
    }
}
.dashboard_usage{
    margin: 0px -8px 0px -8px;
    .usage_list{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        max-height: 112px;
        overflow: hidden;
        transition: all .5s ease-out;
        &.expand{
            max-height: 100%;
            overflow: auto;
            transition: all .5s ease-out;
        }
        .usage_box{
            width: 25%;
            padding: 0px 10px;
            margin-bottom: 16px;
        }
    }
}
.usage_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    .usage_box_slider{
        margin-bottom: 10px;
        > img{
            width: 100%;
            max-width: 60px;
        }
    }
    .usage_value{
        @extend %primary-font;
        font-size: 13px;
        margin: 0px auto;
        text-align: center;
        max-width: 70px;
        img{height: 11px;}
    }
    .usage_label{
        font-size: 12px;
        color: $dark-gray;
        text-align: center;
        min-height: 35px;
        @include ellipsis(2);
    }
}
.balance_section{
    &_info{
        label{
            text-transform: uppercase;
            font-size: 13px;
            @extend %primary-font;
            margin-bottom: 4px;
        }
        .balance{
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 0px;
        }
        .balance_lg{
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 0px;
        }
    }
    &_action{
        align-self: flex-end;
    }
}
.quicklink_card{
    padding: 16px 5px 0px 5px;
    margin-bottom: 20px;
}
.quicklink_list{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    padding-left: 0px;
    .quicklink_item{
        width: 25%;
        @extend %flex_grp_center;
        margin-bottom: 20px;
        padding: 0px 14px;
        flex-direction: column;
        .quicklink_item_img{
            width: 56px;
            height: 56px;
            border-radius: 50px;
            border: 1px solid #CECECE;
            @extend %flex_grp_center;
            @extend %white-bg;
            padding: 5px;
            margin-bottom: 5px;
            img{
                width: 24px;
            }
        }
        p{
            font-size: 12px;
            line-height: 16px;
            font-family: $proximanova-regular;
            text-align: center;
        }
        &:hover{
            .quicklink_item_img{
                background: $light;
            }
            p{
                @extend %primary-color;
            }
        }
    }
}