//Popup Css
.custom_modal {
    .modal-dialog {
        max-width: 480px;
        top: 50%;
        transform: translate(0, -50%)!important;
        margin: 12px auto;
        .modal-content {
            @extend %white-bg;
            border-radius: 12px;
            width: 80%;
            margin-left: 44px;
            padding: 24px 40px 24px 40px;
            box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.16);
            border: 0px;
            .red_close {
                border: none;
                background: transparent;
                padding: 5px;
                position: absolute;
                z-index: 1;
                top: -10px;
                right: -10px;
                img {
                    width: 30px;
                }
            }
            .modal-body {
                padding: 0px;
            }
        }
    }
}
.bottom_modal {
    .modal-dialog {
        max-width: 580px;
        margin: 0px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        right: 0px;
        top: auto;
        transform: translate(-50%, 0) !important;
        
        .modal-content {
            @extend %white-bg;
            width: 80%;
            margin-left: 45px;
            padding: 24px 16px 30px 16px;
            border-radius: 0px;
            border-top-left-radius: 22px;
            border-top-right-radius: 22px;
            border: 0px;
            position: relative;
            .modal-body {
                padding: 0px;
            }
        }
        .modal-head {
            position: relative;
            padding: 0px 15px 24px 15px;
            button {
                background: transparent;
                border: 0px;
                position: absolute;
                top: 0px;
                left: 0px;
                display: inline-block;
                padding: 0px;
                img {
                    width: 24px;
                }
            }
            h3 {
                font-size: 13px;
                color: $dark-gray;
                text-align: center;
                margin-bottom: 0px;
            }
        }
    }
}

.yellow_modal {
    .modal-dialog {
        max-width: 354px;
        top: 50%;
        transform: translate(0, -50%)!important;
        margin: 12px auto;
        .modal-content {
            background: #FFD345;
            border: 0px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-items: center;
            flex-direction: column;
            text-align: center;
            .modal_img {
                width: 100%;
                img {
                    width: 100%;
                    border-top-left-radius: 30px;
                    border-top-right-radius: 30px;
                }
            }
            .modal-body{
                padding: 0px;
            }
            .modal-footer{
                text-align: center;
                display: flex;
                align-items: center;
                justify-items: center;
                flex-direction: column;
                padding: 16px 20px 30px 20px;
                width: 100%;
                border-top: 0px;
            }
            .modal_heading{
                font-family: 'Proxima-Nova-Bold', Arial, Helvetica, sans-serif;
                font-size: 24px;
                color: #221F20;
                margin-bottom: 12px;
                margin-top: 0px;
            }
            .modal_desc{
                font-family: 'Proxima-Nova-Medium';
                font-size: 14px;
                color: #221F20;
                margin: 0px;
            }
            .cs_btn {
                min-width: 120px;
                margin-top: 20px;
            }
        }
    }
    } 

.cs_modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    padding: 5px;
    img {
        width: 16px;
    }
}

.hanger {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    padding: 4px;
    width: 100%;
    text-align: center;
    span {
        display: inline-block;
        width: 26px;
        height: 5px;
        border-radius: 20px;
        background: $dark-gray;
    }
}

.modal-backdrop.show {
    opacity: 0.8;
}

@media only screen and (max-width: 425px) {
    .custom_modal .modal-dialog {
        margin: 12px;
        .modal-content {
            padding: 28px 20px 24px 20px;
        }
    }
    
}
@media only screen and (max-width: 767px) {
    .bottom_modal {
        .modal-dialog {width:95%;}
    }
}

//mynumbers-comp
.mynumbers-comp{
    .offcanvas{
        max-width: 500px; 
        margin:0 auto; top:0px;
        height:100%;
    }
    .offcanvas-body{overflow-y: initial;}
    .app_main_wrapper{margin:0px !important;padding:0px !important;}
}
.bottom_modal .modal-dialog .modal-content {

    width: 75%;

    margin: auto;

    padding: 24px 16px 30px 16px;

    border-radius: 0px;

    border-top-left-radius: 22px;

    border-top-right-radius: 22px;

    border: 0px;

    position: relative;

  }