.sub_banner_comp{
    margin: 0px -25px;
    .sub_banner_comp_container{
        padding: 0px 25px 0px 25px;
        @extend %flex_grp_align_center;
    }
    .sub_banner_text{
        flex: 1;
        h3{
            font-size: 18px;
            line-height: normal;
            margin-bottom: 0px;
            max-height: 52px;
            @include ellipsis(2);
        }
    }
    .sub_banner_img{
        padding-left: 8px;
        img{
            width: 180px;
            height: 140px;
        }
    }
    p{font-size:12px;margin:0px 0px 10px 0px;line-height:16px;}
}

.sub_banner_comp_01{
    .sub_banner_comp_container{
        padding: 0px 25px 0px 25px;
        @extend %flex_grp_align_center;
    }
    .sub_banner_text{
        flex: 1;
        h3{
            font-size: 18px;
            line-height: normal;
            margin-bottom: 0px;
            max-height: 52px;
            @include ellipsis(2);
        }
    }
    .sub_banner_img{
        padding-left: 8px;
        img{
            width: 180px;
            height: 140px;
        }
    }
    p{font-size:12px;margin:0px 0px 10px 0px;line-height:16px;}
}

.sub_full_bg_banner_comp{
    @extend %flex_grp_center;
    padding: 30px 0px 60px 0px;
    background: $light-gray;
    margin: 0px -25px;
    .banner_icon{
        position: relative;
        .offer{
            position: absolute;
            > img{
                width: 30px !important;
            }
        }
        img{
            width: 130px;
        }
    }
}

.fullimg_sub_banner_comp{
    margin: 0px -25px;
    img{
        width: 100%;
        max-height: 160px;
    }
}

@media (max-width: 767.98px) {
    .sub_banner_comp{
        margin: 0px -12px;
        .sub_banner_comp_container{
            padding: 0px 0px 0px 16px;
        }
    }
    .fullimg_sub_banner_comp,.sub_full_bg_banner_comp{
        margin: 0px -12px;
    }
}

@media (max-width: 374.98px) {
    .sub_banner_comp .sub_banner_text h3{
        font-size: 20px;
        line-height: 22px;
        max-height: 44px;
    }
}