//Sidemenu Css

.side_menu_wrapper{
    min-height: 100vh;
    position: fixed;
    width: 680px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    // @extend %white-bg;
    z-index: 0;
    .side_menu_wrapper_inside{
        width: 200px;
    }
    .side_menu_top{
        margin-bottom: 30px;
    }
    .side_menu_logo{
        padding: 22px 16px;
        display: inline-block;
        img{
            height: 26px;
        }
    }
}
.side_menu_list{
    padding-left: 0px;
    li{
        margin-bottom: 6px;
        &:last-child{
            margin-bottom: 0px;
        }
    }
}
.side_menu_item{
    width: 100%;
    @extend %flex_grp_align_center;
    padding: 10px 16px;
    span{
        font-size: 18px;
        @extend %rubik-regular;
        @extend %secondary-color;
    }
    > img{
        width: 40px;
        margin-right: 20px;
        &.black_icon{
            display: none;
        }
    }
    &:hover{
        span{
            @extend %primary-color;
        }
    }
    &.active{
        > img{
            width: 40px;
            &.black_icon{
                display: block;
            }
            &.gray_icon{
                display: none;
            }
        }
        span{
            font-family: $proximanova-bold;
        }
    }
}

@media (max-width: 767.98px) {
    .side_menu_wrapper{
        display: none;
    }
}