//loginheader
.login_mainwrapper{
    max-width: 414px;
    margin: 0px auto;
    background-color: $backgroud-gray;
}
.login_header{
    background: $backgroud-gray url(/assets/images/login_wave.svg) no-repeat center;
    background-size: 100%;
    min-height: 630px;
    background-position: top center;
    h5{font-size:20px;}
}
.login_logo{
    color: $darkblue; padding-top: 30px;
}
.login_bg{
    img{
        width: 100%; margin-top: 60px;
    }
}
.login_supporttext{
    margin-top: 40px;
}
.login_whitecard{
    background-color: #FFF;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 20px #0000001A;
    border-radius: 13px;
    padding: 30px 20px;
    margin-top: 30px;
}
.m-se-20{
    margin: 0px 20px;
}
.form-control{
    border-radius: 15px; border: 1px solid $blue-gray;
}
.login_bottom{
    img{width: 100%;}
}
.login_button{
    width: 85px;
    height: 85px;
    border-radius: 50px;
    position: absolute;
    background: linear-gradient(180deg,  $backgroud-gray, $backgroud-gray);
    left: 47%;
    bottom: 125px;
    img{
        position: relative;
        top:0px;
    }
}
.position-absolute{
    position: absolute;
}
.position-relative{
    position: relative;
}
a{
    color: $primary;
    font-size: 14px;
    font-family: $proximanova-semibold;
    text-decoration: underline !important;
}
a:hover{
    color: $primary;
    text-decoration: underline !important;
}