//Header Css

.fixed_footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    .fixed_footer_container{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
        padding: 20px 12px 16px 12px;
        @extend %white-bg;
        margin: 0px auto;
        max-width: 480px;
    }
}

.footer_menu{
    display: none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    width: 100%;
    .fixed_footer_container{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
        padding: 4px 0px;
        @extend %white-bg;
        margin: 0px auto;
        max-width: 480px;
        height: 56px;
        @extend %flex_grp_align_center;
        // justify-content: space-evenly;
    }
    .footer_menu_item{
        width: 20%;
        @extend %flex_grp_center;
        flex-direction: column;
        border: 0px;
        background: transparent;
        span{
            font-size: 10px;
            @extend %noto-regular;
            color: $placeholder;
            margin-top: -7px;
        }
        > img{
            width: 40px;
            &.red_icon{
                display: none;
            }
        }
        &.active{
            > img{
                width: 40px;
                &.red_icon{
                    display: block;
                }
                &.gray_icon{
                    display: none;
                }
            }
            span{
                @extend %primary-color;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .footer_menu{
        display: block;
    }
}

@media (min-width: 768px) {
    .fixed_footer {
        left: 554px;
        .fixed_footer_container{
            max-width: 500px;
        }
    }
}