<section class="main-hedding-cont mhc-mb0"  *ngIf="hasContent !=2">
    <div class="hedding-nav-cont">
        <h2>{{'recom.title'|translate}}</h2>
    </div>
</section>
<section  class="inds-swiper03"  *ngIf="hasContent ==0">
    <div class="swiper-container dif-swiper-cards4-imgbtn" [swiper]="config" [(index)]="index">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let i of placeholders">
                <section class="inds-sw03-card">
                    <div class="card placeload">
                        <div class="image-placeholder loads"></div>
                        <div class="card-body">
                            <h5 class="card-title content-shape loads"></h5>
                            <p class="card-text content-shape loads"></p>
                            <div class="button-link content-shape loads"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<section   class="inds-swiper03"  *ngIf="hasContent ==1">
    <div class="swiper-container dif-swiper-cards4-imgbtn" [swiper]="config" [(index)]="index">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let item of recommendations">
                <section class="inds-sw03-card" (click)="navigate(item.category_main);">
                    <div class="card">
                        <img *ngIf="item.commercial_attribute!=null" [src]="item.commercial_attribute.recommendation_image" class="card-img-top" alt="..."  onerror="this.src='assets/images/default_image_content.svg'">
                        <div class="card-body">
                            <h5 class="card-title">{{item.category_main}}</h5>
                            <p class="card-text">{{item.category_subtitle}}</p>
                            <a  class="button-link">{{'recom.more'|translate}}</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<!-- <section class="inds-error-load container-fluid"  *ngIf="hasContent ==2">
    <div class="card">
        <div class="card-body">
            <div class="error-section">
                <img src="assets/images/ic_warning.svg" alt="">
                <p>Recom {{'warning'|translate}}</p>
            </div>
        </div>
    </div>
</section> -->