.mat-table{
    width: 100%;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0rem 1rem;
    border-bottom: none;
}
.modal-body{
    padding: 0rem;
}
.modal-body > h5{
    text-align: center;
    font-weight: 600;

}
.alignbtn{
    text-align: center;
}
.modal-header .close {
    padding: 20px 1rem !important;
    margin: -1rem -1rem -1rem auto;
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 400px;
        margin: 8.75rem auto;
    }
    }