.wrapper {
  min-height: 0vh !important
}
a.disabled {
  cursor: not-allowed;
  color: gray !important;
}
.otp-input {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #c5c5c5;
  text-align: center;
  font-size: 32px;
  margin-right: 8px;
}
.otp-input{
  width: 40px;
  font-size: 24px;
  height: 40px;
}