<div class="d-flex flex-column">
    <div class="sec_top">

        <div class="sub_banner_comp" *ngIf="hidetitle">
            <div class="sub_banner_comp_container">
                <div class="sub_banner_text main-hedings">
                    <h3>{{languagewiseList.metadata.title}}</h3>
                </div>
            </div>
        </div>

        <!--tabs st-->
        <div class="corp-abt-thumb-slider pack-tab-swiper">
            <div class="position-relative category-tabs main-hedings">
                <div class="container-tab position-relative">
                    <div
                        class="swiper-container tabs-thumbs c-about-thumbs swiper-initialized swiper-horizontal swiper-pointer-events swiper-free-mode swiper-watch-progress swiper-backface-hidden swiper-thumbs">
                        <div class="swiper-wrapper" id="swiper-wrapper-3cb699143c39a478" aria-live="polite">
                            <div class="swiper-slide swiper-slide-visible swiper-slide-active swiper-slide-thumb-active"
                                role="group" aria-label="1 / 2" style="width: 68.3333px; margin-left: 10px;"
                                *ngFor="let itemlang of language_groups">
                                <button  [ngClass]="itemlang.global == true ? 'cs_btn_primary1' : 'cs_btn_primary2'  " (click)="showthantlist(itemlang)">{{itemlang.language}}</button>
                            </div>

                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>

           
            <div
                class="swiper-container tabs-top-swiper container p-0 swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                <swiper [config]="config"  class="auto_swiper_1">
                    <div class="swiper-wrapper  tabs-top-swiper"  >
                      <div class="swiper-slide"  *ngFor="let sublang of subLanguage">
                        <div class="card_style_1 height_100">
                            <div class="card_img">
                                <div class="play-icon-comp2">
                       
                                    <a *ngIf="!sublang.playsong" (click)="playinvidualsongs(sublang)" >
                                                    
                                        <img src="assets/images/play-arrow-icon.svg" alt="" title=""    >
                                       
                                    </a>
                                    <a *ngIf="sublang.playsong" >
                                        <img src="assets/images/music waves.gif"  alt="" title=""  >
                                    </a>
                                </div>
                                <img  src={{sublang.imageurl}} onerror="this.src='assets/images/default_song_track.png'" alt="">
                            </div>
                            
                            <div class="card_info">
                                <div class="card_info_grp">
                                    <h4  title="{{sublang.metadata.artist}}">{{titletrim(sublang.title)}} </h4>
                                    <p>{{sublang.groupname}}</p>
                                </div>
                            </div>
                        </div>
                      </div>
                     
                     
                    </div>
                
                  </swiper>
               
              
            </div>

        </div>
        <!--tabs end-->
    </div>
</div>