.accordion-comp1{
    .accordion{border-bottom:1px solid #e0e0e0; -moz-border-top-colors:1px solid #e0e0e0;}
    .accordion-body{padding: 0px;}
    .accordion-button:focus{box-shadow:none;}
    .accordion-item{
        padding: 20px 0px;
        border-radius: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px solid #e0e0e0; 
        -moz-border-top-colors: 0px solid #e0e0e0;
    }
    .cont-sec{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        button{margin:10px 10px 10px 0px;}
    }
    .accordion-button{
        padding:0px 0px 15px 0px;
    }
    .accordion-button:not(.collapsed){
        border: 0px;
        color: #000;
        background-color: transparent;
        box-shadow: none !important;
    }
    .custom_btn{
        font-size:12px;
        color: $primary;
        border:0px !important;
        box-shadow: 0 2px 5px 1px rgba(64, 60, 67,  0.09);
        min-width: 80px !important;
        height:35px;
    }
    .tba-active{background:$primary;color: $white;}
}

//offcanvas-header
.okw-pwa-offcanvas{
.border-bottome1px{border-bottom:1px solid #e0e0e0; margin:0px 20px;padding:20px 0px;}
.offcanvas-header{
    a{
        font-family:$proximanova-bold;
        font-size: 14px;
        margin-bottom: 0px;
    }
}
.offcanvas-body{
    padding:20px !important;height: calc(100% - 100px);
    .offcanvas1{
        width: auto;
    }
    .offcanvas2{
        width: auto;
    }
}
.offcanvas-title{
    text-transform: uppercase;
}
.ui-slider-horizontal{height: 0.3em !important;}

.offcanvas2{padding:0px 20px;}
.card-footer {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
}

.accordion-button:not(.collapsed)::after{background-image:#000000!important;}

//country-accro-comp
.country-accro-comp{
    padding:5px 0px;
    margin:0px 10px;
    .accordion{
        .accordion-header{
            img{width: 40px;margin-right: 10px;margin-left:5px;}
        }
    }
    .accordion-item{        
        margin-bottom: 15px;
        border-radius: 10px !important;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 8%);
        background: #fff;
    }
    .accordion-button{
        font-family:'Rubik-Regular';
    }
    .accordion-button:not(.collapsed){
        background: none !important;
        color:#000;
    }    
    .accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed{
        border-radius: 10px !important;
        padding: 14px;
    }
    .accordion-button:focus{
        box-shadow: none;
    }
    .accordion-body{
        padding-top: 10px;
        margin-left: 45px;
        p{margin: 0px 0px 5px 0px;padding:0px;}
    }
    .accordion-body1{
        padding-top: 15px;
        margin-left: 20px;
        margin-right: 15px;
        p{margin: 0px 0px 5px 0px;padding:0px;}
    }
    .link-btn{
        a{color: #ed1c24;margin-right:5px;}
        a:hover{color: #ed1c24;}
    }
    .accordion-body{
        p{padding:0px !important;}
    }
}

// Styles added by ravi
.country-accro-comp1{
    padding:0px 0px;
    margin:0px 10px;
    .accordion{
        .accordion-header{
            img{width: 40px;margin-right: 10px;margin-left:5px;}
        }
    }
    .accordion-item{        
        margin-bottom: 15px;
        border-radius: 10px !important;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 8%);
        background: #fff;
    }
    .accordion-button{
        font-family:'Rubik-Regular';
    }
    .accordion-button:not(.collapsed){
        background: none !important;
        color:#000;
    }    
    .accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed{
        border-radius: 10px !important;
        padding: 14px;
    }
    .accordion-button:focus{
        box-shadow: none;
    }
    .accordion-body{
        padding-top: 10px;
        margin-left: 45px;
        p{margin: 0px 0px 5px 0px; padding:0px;}
    }
    .link-btn{
        a{color: #ed1c24; margin-right:5px;}
        a:hover{color: #ed1c24;}
    }
    .accordion-body{
        p{padding:0px !important;}
    }
}
// Styles end by ravi

//roaming-rates-col
.roaming-rates-col{
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 10px !important;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 8%);
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    border: 1px solid #fff;
    cursor: pointer;
    .img-size01{
        img{margin-right:10px;width:40px;margin-left:5px;}
    }
}
.roaming-rates-col:hover{
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 4%);
    border:1px solid #ccc;
    background:#f8f8f8;
}
.roaming-rates-col1{
    font-size: 16px;
    margin-bottom: 0px;
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0%);
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    border-bottom:1px solid #F8F8F8;
    cursor: pointer;
    .img-size01{
        img{margin-right:10px;width:40px;margin-left:0px;}
    }
}
.roaming-rates-col1:hover{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0%);
    border-bottom:1px solid #ccc !important;
    background-color: #F8F8F8;    
}

.accordion-button::after {
	background-image: url("../images/arrow_down_dark_sm.svg");
}
.accordion-button:not(.collapsed)::after {
	background-image: url("../images/arrow_down_dark_sm.svg");
}
//@at-root
.accrodion-comp2{
    img {width: 40px;margin-right: 10px;margin-left: 5px;}
    .accordion-header{border-bottom:0px solid #F8F8F8;}
    .profile_name{text-align: left;}  
    .main_div{border-top:1px solid #F8F8F8;padding:10px 0px;}
    .accordion-body1{margin-left:14px !important; margin-right:14px !important;}
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: var(--bs-accordion-active-bg);
    box-shadow: inset 0 calc(0 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}