//Colors
.primary_color {
    @extend %primary-color;
}

.secondary_color {
    @extend %secondary-color;
}

.light_black_color {
    color: $light-black;
}

.dark_gray_color {
    color: $dark-gray;
}

.blue_gray_color {
    color: $blue-gray;
}

.dark_gray_color1 {
    color: $placeholder;
}
.dark_gray_color2{
    background:#F2F2F2;
}

.white_bg {
    @extend %white-bg;
}

.primary_bg {
    @extend %primary-bg;
}

