// GLOBAL VARIABLES
@font-face {
    font-family: 'Proxima-Nova-Regular';
    src: url('fonts/Proxima_Nova_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima-Nova-Medium';
    src: url('fonts/Proxima_Nova_Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima-Nova-Semibold';
    src: url('fonts/Proxima_Nova_Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima-Nova-Bold';
    src: url('fonts/Proxima_Nova_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


//Fonts
$proximanova-regular:'Proxima-Nova-Regular', Arial, Helvetica, sans-serif;
$proximanova-medium:'Proxima-Nova-Medium', Arial, Helvetica, sans-serif;
$proximanova-semibold:'Proxima-Nova-Semibold', Arial, Helvetica, sans-serif;
$proximanova-bold:'Proxima-Nova-Bold', Arial, Helvetica, sans-serif;

$rubik-regular:'Proxima-Nova-Regular', Arial, Helvetica, sans-serif;
$rubik-medium:'Proxima-Nova-Medium', Arial, Helvetica, sans-serif;
$rubik-semibold:'Proxima-Nova-Semibold', Arial, Helvetica, sans-serif;
$rubik-bold:'Proxima-Nova-Bold', Arial, Helvetica, sans-serif;

//Colors
$primary:#FD212A;
$secondary:#221E20; 
$black: #000000;
$light-black: #636363;
$dark-gray: #898989;
$blue-gray: #C0C0CA;
$backgroud-gray: #F5F5F5;
$placeholder: #A3A3AD;
$light-gray: #E0E0E0;
$light-gray1: #EEEEEE;
$border:#B3B3B3;
$disable:#DFDFE1;
$white:#FFFFFF;
$light: #F9F9F9;
$green: #99CC00;
$blue: #59C0ED;
$orange: #FF9800;
$darkblue: #0161B0;
$yellow: #FFD345;


//Extends
%rubik-regular {
    font-family: $proximanova-regular;
}

%primary-font{
    font-family: $proximanova-bold;
}

%noto-light {
    font-family: $proximanova-regular;
}

%noto-regular {
    font-family: $proximanova-regular;
}

%noto-bold {
    font-family: $proximanova-bold;
}

%primary-color {
    color: $primary;
}

%secondary-color {
    color: $secondary;
}

%white-color {
    color: $white;
}

%primary-bg {
    background: $primary;
}

%white-bg {
    background: $white;
}

%flex_grp_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%flex_grp_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%inflex_grp_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex_grp_align_center {
    display: flex;
    align-items: center;
}

%flex_grp_align_start {
    display: flex;
    align-items: flex-start;
}

%inflex_grp_align_center {
    display: inline-flex;
    align-items: center;
}

/*ka-st*/
%flex_grp_end {
    display: flex;
    align-items: center;
    justify-content: end;
}
/*input text arrows*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
/*ka-end*/