//Typography

p, ul{
    font-size: 14px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6{
    @extend %primary-font;
}

.font10{
    font-size: 10px;
}

.font12{
    font-size: 12px;
}

.font13{
    font-size: 13px;
}

.font15{
    font-size: 15px;
}

.font16{
    font-size: 16px;
}
.font22{
    font-size: 22px;
}

.primary-font{
    @extend %primary-font;
}

.control-label{
    @extend %primary-font;
    font-size: 12px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: $blue-gray;
}

.page_title{
    font-size: 24px;
    @extend %noto-regular;
}

.page_title_v1{
    font-size: 22px;
    font-family: $proximanova-regular !important;
}

.h1-heading{
    @extend %primary-font;
    font-size: 30px;
}

.primary_16{
    @extend %primary-font;
    font-size: 16px;
}

.primary_14{
    @extend %primary-font;
    font-size: 14px;
}

.section_title{
    @extend %primary-font;
    font-size: 20px;
    max-height: 50px;
    @include ellipsis(2);
}

.section_title_light{
    font-family: $proximanova-bold !important;
    font-size: 18px;
    line-height: 19px;
}

.support_text{
    font-size: 14px;
    color: $blue-gray;
}

.error_msg{
    font-size: 12px;
    @extend %primary-color;
    margin-top: 8px;
    margin-bottom: 0px;
}

.amount_stripe{
    color: $placeholder;
    font-size: 12px;
    text-decoration: line-through;
}

@media (max-width: 374.98px) {
    .section_title{
        font-size: 18px;
        max-height: 44px;
    }
}