<div class="wrapper">

    <div class="global-back-cont d-flex justify-content-between align-items-center bg-white">
        <img src="{{env.cdnurl}}assets/images/close-dark.svg"  (click)="gotoback()" alt="" title="">
        <h5 class="sec-headding">{{'search.header'|translate}}</h5>
        <img src="{{env.cdnurl}}assets/images/help_dark.svg" (click)="openNewtab()" alt="" title="">
    </div>

    <div class="container-fluid">

        <section class="search">

            <div class="search-cont">
                <form>
                    <div class="form-group">
                        <input autocomplete="off" type="text" titleChars name="packagesearch" [(ngModel)]="txtsearch"  #packagesearch="ngModel" id="txtpackagesearch"
                                     class="form-control" placeholder="{{'search'|translate}}" maxlength="20" minlength="3" required  (focus)="show=!show" (keydown.enter)="isSelected($event)" >
                        <img class="ic-search" src="{{env.cdnurl}}assets/images/ic-search.svg" alt=" " title="">
                    </div>
                </form>
            </div>
        </section>

        <section *ngIf="!show" class="search-title-cont">
            <h2>{{'popularsearch'|translate}}</h2>
        </section>
        <section  *ngIf="!show" class="pills-cont" >
            <div class="pill clearpill" *ngFor="let item of popularSearchList"><label class="search-txt" (click)="assignData(item)">{{item}}</label></div>
           
        </section>
        <div *ngIf="show ">
            <!-- <div *ngIf="searchResult && searchResult.length >0 then showData else hideData"></div> -->
 
            <div  *ngFor="let item of searchResult ; let i = index">
                
            <section class="container-fluid search-title-cont m-0 pl-0  pr-0" >
                <h2 class="w-50">{{item.category_name}}</h2>
                <a class="button-link f-12" (click)="navigatetopackageList(item.category_id)">{{'viewcategory'|translate}} <img src="{{env.cdnurl}}assets/images/ic_front_arrow_red.svg"
                        alt=""></a>
        
            </section>

           
            
        
            <section  class="inds-swiper07 pack-card-pd"> 
                <!-- Swiper -->
                <swiper
                class="swiper-container dif-swiper-cards4-sw051 last-child"
                [config]="config[i]">
            
                <div class="swiper-slide"  *ngFor="let result of item.commercial_package">
                    <section class="inds-sw05-card">
                        <div class="card h-350">
                            <div class="card-h-title" (click)="getpackage(result)">
                                <div *ngIf="result.package_footer_desc!=''" class="validation-section">
                                    <p class="headding4"> 🎁{{result.package_footer_desc}}</p>
                                </div>
                            </div>
                            <div class="img-card-section">
                                <!-- <img class="fav-card" src="{{env.cdnurl}}assets/images/favorite-card.png" alt=""> -->
                                <!-- <img class="fav-card" (click)="enablefavourite(result)" [src]="result.isfavourite ? 'assets/images/favorite-active.svg' : 'assets/images/favorite.svg'" id="myBtn2" alt=""> -->
                                <img class="fav-card" (click)="enablefavourite(result)" [src]="result.isfavourite ? 'assets/images/favorite-active.svg' : 'assets/images/favorite.svg'" id="myBtn2" alt="">
                                <div class="card05-img-sec loads">
                                    <img class="card-img-top" src="{{result.package_highlight_image}}"
                                        alt="Card image cap">
                                </div>
                            </div>

                            <div class="card-body" (click)="getpackage(result)">
                                <h5 class="card-title">{{result.package_name}}</h5>
                                <p class="card-textnew f-12">{{result.package_subtitle}}
                                </p>
                            </div>
                            <div class="card-footer footer-rupees" (click)="getpackage(result)">
                                <div class="card-footer-text rupees-month"><span>Rp</span>{{result.traiffdisplay}}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            
            </swiper>

                
                   
                 
            </section>
        </div>
                          
<ng-template [ngIf]="showemptydiv">
    <div class="user-interactions">
        <div class="tab-content">
            <div class="package-detail">
                <img src="{{env.cdnurl}}assets/images/ask.jpg" alt="empty Package">
                <p>
                {{'nothingtofound'|translate}} <br/><span class="text-primary">"{{searchterm}}"</span>                    
            <br/> {{'pleasechooseanother'|translate}} </p>
            </div>
        </div>

    </div>
       
              
</ng-template>
    </div>

    </div>
</div>
<div class="modal package-modal  fade" id="viewpackageremove" role="dialog" (click)="reloadpackage('viewpackageremove')">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body"><button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="mt-3">{{'package.sucessremoved'|translate}}</h3>
                    <p>{{'packagemodal.desc'|translate}}</p>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <!-- myModal2 viewpackagesucess -->
    <div class="modal package-modal" id="viewpackagesucess" role="dialog" (click)="reloadpackage('viewpackagesucess')">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body"><button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="mt-3">{{'package.sucessadded'|translate}}</h3>
                    <p>{{'packagemodal.desc'|translate}}</p>
                </div>
            </div>

        </div>
    </div>   
