.wrapper{
    align-items: center;
    border-radius: 15px;
    display: flex;
    font-family: Raleway,sans-serif;
    height: 80px !important;
    margin-left: 60px
   ;
}
@media (width: 375px) {
  .wrapper{
    align-items: center;
    border-radius: 15px;
    display: flex;
    font-family: Raleway,sans-serif;
    height: 80px !important;
   margin-left: 32px;
}
}
@media (max-width: 320px) {
  .wrapper{
    align-items: center;
    border-radius: 15px;
    display: flex;
    font-family: Raleway,sans-serif;
    height: 80px !important;
   margin-left: 2px;
}
}
@media (width: 425px) {
  .wrapper{
    align-items: center;
    border-radius: 15px;
    display: flex;
    font-family: Raleway,sans-serif;
    height: 80px !important;
   margin-left: 60px;
}

}
.wrapper1{
  align-items: center;
  background: #000;
  border-radius: 15px;
  display: flex;
  font-family: Raleway,sans-serif;
  height: 80px !important;
  width: 480px !important;
}
 .cover {
  border-radius: 10px !important;
  margin-left: 10px;
  max-height: 60px !important;
  max-width: 60px !important;
} 

.wrapper .cover img {
    border-radius: 10px !important;
    margin-left: 10px;
    max-height: 60px !important;
    max-width: 60px !important;
}
/* .slidecontainer .time-line {
    color: #4c82af;
    display: flex;
    justify-content: space-between;
    margin: 7px 0 2px;
    width: 27% !important; 
    margin-top: 13px !important;
    margin-left: -209px !important;
}
.slider {
   
    background: #fff;
    border-radius: 5px;
    height: 2px;
    opacity: 1;
    outline: none;
    transition: opacity .2s;
    width: 33% !important;
    margin-left: -219px;
    z-index: 1000;
    margin-top: 30px !important;
}
.wrapper .container .details .title {
    color: #4c82af;
   
    margin-left: -209px !important;
    margin-top: 8px !important;
} */
.wrapper .container {
    padding: 12px !important;
    width: 45% !important;
    display: flex !important;
}
.wrapper .container .controls svg {
    cursor: pointer;
    height: 42px !important;
    margin: 18px 9px !important;
    width: 13px !important;
    fill:#fff;
}
.slidecontainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 77%;
    margin-top: -4px;
    margin-left: 5px !important;
}
.wrapper .container .details{
    text-align: center;
    margin-top: 60px !important;
    margin-left: -107px !important;
    /* display: flex; */
}
.wrapper .container .controls {
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 22px !important;
    margin-left: 30px !important;
}
.wrapper .container .details .title {
    color: #4c82af;
    /* margin: 7px 0 15px; */
    margin-top: -60px !important;
}


/* You can add global styles to this file, and also import other style files */
.wrapper .cover img {
    border-radius: 10px !important;
    margin-left: 10px !important;
    max-height: 100px ;
    max-width: 100px ;
}
.wrapper .cover {
    border-radius: 10px !important;
}
.wrapper{
  fill: #ffffff !important;
}
/* .fixed_footer_container1{
  position: relative;
  max-width: 480px;
  margin: 0px auto;
} */
.noclick {    
  cursor: default !important;
  pointer-events: none !important;
}
.ang-music-player{
  background:#cccccc !important;
}
.audio{background:#cccccc !important;}

.fixed_footer .wrapper{
    background:#2F3044 !important;
    border-radius: 0px !important;
  }

  /* .fixed_footer .fixed_footer_container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 12px 16px 12px;
    margin: 0px auto;
    max-width: 480px;
  } */
  .wrapper .container .controls svg{
    fill:#FFFFFF!important;
  }
  .slidecontainer .time-line{
    color: #FFFFFF!important;
  }
  .wrapper .container .details .title{
    font-size:14px !important;
    color: #FFFFFF!important;
  }
  .wrapper .container .volume-container {
    position: relative;
    display: none !important;
}
.slider {
 
  background: #fff;
  border-radius: 5px;
  height: 2px;
  opacity: 1;
  outline: none;
 
  width: 87%;
  z-index: 1000;
  display: none !important;
}
.slidecontainer .time-line {
  color: #4c82af;
  display: flex;
  justify-content: space-between;
  margin: 7px 0 2px;
  margin: -3px 17px 17px 14px!important;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ng-otp-input-wrapper .otp-input {
  margin-right: 4px !important;
  height: 30px !important;
  width: 30px !important;
}
@media screen and (max-width: 320px)
{
  .ng-otp-input-wrapper .otp-input {
    margin-right: 4px !important;
    height: 30px !important;
    width: 30px !important;
  }
}
@media screen and (max-width: 375px)
{
  .ng-otp-input-wrapper .otp-input {
    margin-right: 10px !important;
    height: 30px !important;
    width: 30px !important;
  }
}





