/*Modified */
.overlay > div  {
    top: 0% !important;  
  }  
  .comp-card006 .quotacard .prog-normal{
  max-width: 75%;
  }
  .comp-card005 .card .content .hed-title{
    /* overflow:hidden;
    text-overflow: ellipsis;
    max-width: 70%;
    white-space: nowrap; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 65vw;
  }
  .herobanner-cont {
    min-height: 200px!important;
  }