<div class="wrapper">

    <div class="Error-nav">
        <div class=" back-link">
            <!-- <a href="#"> <img src="assets/images/back_dark.svg"></a> -->
        </div> 
        <h2 class="error-title">Page Not Found</h2>
        <div class="guide-here">
            <img src="{{env.cdnurl}}assets/images/help_dark.svg">
        </div>
    </div>

    <div class="error-main-cont">
        <div class="error-main">
            <img src="{{env.cdnurl}}assets/images/ask.jpg">
            <h2> Error <span>"Page Not Found"</span></h2>
        </div>
    </div>


</div>
