<section class="basic_details sticky base80">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="detail_sec">
                    <div class="details_inner">
                        <div class="type_camp">
                            <div class="container-fluid no-padding">
                                <div class="detail_title">
                                    <h4>
                                        <em class="icon-settings"></em><span class="user">Audit Logs</span>
                                        <button type="button"
                                            [ngClass]="isOpen ? 'btn btn-outline-grey btn_custom1 pull-right marg10' : 'btn btn-outline-primary btn_custom1 pull-right marg10'"
                                            (click)="toggle()">
                                            <i class="fa fa-filter" aria-hidden="true" matTooltip="filter"
                                                *ngIf="isOpen"></i>
                                            <i class="fa fa-filter" aria-hidden="true" matTooltip="filter"
                                                *ngIf="!isOpen"></i>
                                        </button>
                                    </h4>
                                </div>
                                <div class="container px-lg-3 my-1 p-1 bg-white rounded shadow-sm"
                                    [@openClose]="isOpen ? 'open' : 'closed'">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3 other-mat">
                                            <span class="date-picker">
                                                <mat-label>{{'Offer Date'| langFilter}}</mat-label>
                                                <span class="position-absolute"><em class="fa fa-calendar"></em></span>
                                                <input name="startdate" placeholder="Offer Date" readonly
                                                    (ngModelChange)="resetdata()" [selectMode]="'range'"
                                                    [(ngModel)]="startdate" [min]="mindate" [owlDateTimeTrigger]="dt1"
                                                    [owlDateTime]="dt1" [max]="endDate" />
                                                <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                                            </span>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field floatLabel="always">
                                                <mat-label>User Type</mat-label>
                                                <mat-select name="userType" #userType="ngModel"
                                                    [(ngModel)]="selectedUserType" (selectionChange)="getUsers()">
                                                    <!--<mat-option value="">Select</mat-option>-->
                                                    <mat-option *ngFor="let item of userTypesList"
                                                        [value]="item?.roleId">{{item?.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                        </div>
                                        <div class="col-md-3">
                                            <mat-label> {{'Select User'| langFilter}}</mat-label>
                                            <ng-multiselect-dropdown class="multi-selct-pos shadow-up"
                                                name="multiselectdrp" [placeholder]="'Select User'"
                                                [data]="dropdownList" [(ngModel)]="selectedItems"
                                                [settings]="dropdownSettings">
                                            </ng-multiselect-dropdown>
                                        </div>

                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-outline-primary btn_custom"
                                                    (click)="pageObject.pageNo=0;getAuditLog()"><i class="fa fa-search"
                                                        aria-hidden="true" matTooltip="search"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="container px-lg-1 my-1 p-1 bg-white rounded shadow-sm pos_abs">
                                    <div fxLayout="row">
                                        <div class="data-container">
                                            <div class="data-table-container">
                                                <table style="width: 100%;" mat-table [dataSource]="dataSource" matSort
                                                    class="data-table">
                                                    <ng-container matColumnDef="accesskey">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            SESSION ID</th>
                                                        <td mat-cell *matCellDef="let row">{{row?.accessKey}}
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="method">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Method Name</th>
                                                        <td mat-cell *matCellDef="let row">{{row?.method.toUpperCase()}}
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="trans_type">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Page</th>
                                                        <td mat-cell *matCellDef="let row">
                                                            {{row?.trans_type.toUpperCase()}}
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="timetaken">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Time Taken</th>
                                                        <td mat-cell *matCellDef="let row">{{row?.timetaken}}
                                                        </td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="nodeip">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Node IP</th>
                                                        <td mat-cell *matCellDef="let row">{{row?.nodeip}}
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="originating_timestamp">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            REQUESTED ON</th>
                                                        <td mat-cell *matCellDef="let row">
                                                            {{row?.originating_timestamp}}
                                                        </td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="errorcode">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            CODE</th>
                                                        <td mat-cell *matCellDef="let row">{{row?.errorcode}}
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="errordescription">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            Description</th>
                                                        <td mat-cell *matCellDef="let row">
                                                            {{row?.errordescription}}
                                                        </td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true">
                                                    </tr>
                                                    <tr mat-row
                                                        *matRowDef="let row; columns: displayedColumns | paginate: { id: 'useraudit_list_pagination', itemsPerPage: pageObject.pageSize, currentPage: pageObject.pageNo, totalItems: pageObject.totalRecords}">
                                                    </tr>

                                                </table>
                                            </div>
                                            <div class=" px-lg-1 my-1 bg-white rounded shadow-sm clearfix"
                                                [ngClass]="{hideelement: pageObject.totalRecords == 0}">
                                                <div class="mt-0 pull-left">
                                                    <div class="row">
                                                        <div class="col-md-12 mt-0 text-left">
                                                            <mat-paginator #paginator class="custom-pagesize"
                                                                [length]="pageObject?.totalRecords"
                                                                [pageSize]="pageObject?.pageSize"
                                                                (page)="changePageSize($event)"
                                                                [pageSizeOptions]="[5, 10, 25, 100]">
                                                            </mat-paginator>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mt-3 pull-right">
                                                    <pagination-controls class="my-pagination"
                                                        (pageChange)="changePage($event)"
                                                        screenReaderCurrentLabel="You're on page"
                                                        id="useraudit_list_pagination">
                                                    </pagination-controls>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>