<section class="bg_002 pr-0 py_24">
    <div class="row sub_banner_comp_01">
        <div class="col-5 sub_banner_text">
            <h3 >FREE Song Pack for you!</h3>
            <p>Enjoy 5 songs together as your BSNL Tunes with one click!</p>
            <div class="mt-1">
                <button class="cs_btn cs_btn_primary btn-md" (click)="playAllsongs()" *ngIf="playpopup" [disabled]="playbtn"> Play
                </button>
                <button class="cs_btn cs_btn_primary btn-md" *ngIf="!playpopup"  (click)="pauseAllsongs(combolist,1)" > Pause
                </button>
            </div>
        </div>
        <div class="col-7">
            <!-- <swiper [config]="config">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"  *ngFor="let item of combolist">
                    <div >
                        <div class="card_style_5">
                            <div class="card_img ml-1">
                                <img src="{{item.imageurl}}"  onerror="this.src='assets/images/default_song_track_md.jpg'" alt="">
                            </div>
                            <div class="card_info">
                                <div class="card_info_grp">
                                    <h4 class="text-ellipsis" title="{{item.title}}">{{titletrim(item.title)}}</h4>
                                    <p>{{item.metadata.yearofrelease==""?"Year-NA":item.metadata.yearofrelease}} | {{item.metadata.language}}</p>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                  </div>
                  
                </div>
               
              </swiper> -->
              <swiper [config]="config">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"  *ngFor="let item of combolist">
                        <div class="card_style_n1">
                            <div class="card_style_5 height_100">
                                <div class="card_img">
                                    <img src="{{item.imageurl}}"  onerror="this.src='assets/images/default_song_track.png'" alt="" class="icon-secondary">
                                </div>
                               
                                <div class="card_info">
                                    <div class="card_info_grp">
                                        <h4  title="{{item.title}}">{{titletrim(item.title)}}</h4>
                                        <p>{{item.metadata.yearofrelease==""?"Year-NA":item.metadata.yearofrelease}} | {{item.metadata.language}}</p>
                                    </div>
                                </div>
                            </div>
                            <!--card_style_1-->
                        </div>

                    </div>

                </div>

            </swiper>

            

        </div>
    </div>
</section>