<section class="basic_details sticky base80">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 no-padding">
        <div class="detail_sec">
          <div class="details_inner">
            <div class="type_camp">
              <div class="container-fluid no-padding">
                <div class="detail_title">
                  <h4>
                    <em class="icon-settings"></em><span class="user">ASSETS >> MANAGE GROUP BANNERS</span>
                  </h4>
                </div>
                <div class="container px-lg-3 my-1 p-1 bg-white rounded shadow-sm">
                  <div class="row">
                    <div class="col-md-3">
                      <h3>GROUP DETAILS</h3>
                    </div>
                  </div>
                </div>
                <div class="container px-lg-1 my-1 p-1 bg-white rounded shadow-sm pos_abs">
                  <div fxLayout="row">
                    <div class="data-container">
                      <div class="data-table-container">

                      </div>
                    </div>
                  </div>
                </div>
                <!--table ends-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






