a {
    color: #FD212A;
    font-size: 14px;
    font-family: "Proxima-Nova-Semibold", Arial, Helvetica, sans-serif;
    text-decoration: underline !important;
}

/* .login_bg img {
    width: 100%;
    margin-top: 7px;
    margin-left: 0px;
}

.login_button {
    width: 85px;
    height: 85px;
    border-radius: 50px;
    position: absolute;
    background: linear-gradient(180deg, #F5F5F5, #F5F5F5);
    left: 47%;
    bottom: 124px;
} */
.login_button {
    width: 85px;
    margin-left: -30px;
    height: 85px;
    border-radius: 50px;
    position: absolute;
    background: linear-gradient(180deg, #F5F5F5, #F5F5F5);
    bottom: -15%;
}
/* .pt-4 {
    padding-top: 4.5rem!important;
} */
.login_whitecard {
    background-color: #FFF;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 10%);
    border-radius: 13px;
    padding: 20px;
    position: relative;
}
.m-se-20 {
    margin: 0px 20px;
}
.login_header {
    background: #F5F5F5;
    height: 100vh;
    position: relative;
}
.login_main_bg {
    height: 27%;
    background: #FFD345;
}
.login_bg_wave {
    background: url(src/assets/images/wave_without_logo.svg) no-repeat;
    margin-top: -31px;
    width: 100%;
}
.login_bottom {
    position: absolute;
    bottom: 0px;
}