<section class="basic_details sticky base80">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 no-padding">
        <div class="detail_sec">
          <div class="details_inner">
            <div class="type_camp">
              <div class="container-fluid no-padding">
                <div class="detail_title">
                  <h4>
                    <em class="icon-settings"></em><span class="user">ERROR</span>
                  </h4>
                </div>
                <div class="container px-lg-3 my-1 p-1 bg-white rounded shadow-sm">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-8 error-section">
                        <div class="row">
                          <div class="col-md-6 err-left-sec">
                            <h4 style="margin-bottom:0px;">405 </h4>
                          </div>
                          <div class="col-md-6 err-right-sec">
                            <p class="error-header">Oops! You're not authorized to view this page.</p>

                            <p class="redirct-link">Please <a routerLink="/home/dashboard">click here</a> for redirecting to Homepage</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






