
<div class="wrapper">
    <section class="header-main">
        <div class="inds-drilldown">
            <div class="dilldown-section collapse" id="drilldown">
                <div class="drilldown-box ">
                    <div class="logo-section">
                        <img src="assets/images/im3-logo.svg">
                    </div>
                    <div class="webversion-section">
                        <p>Do more on myIM3 app. Enjoy all these app features with no data usage charges!
                            <strong>#LebihUntung</strong> in myIM3</p>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-install">INSTALL/OPEN</button>
            </div>
            <div aria-expanded="true" class="drill-btn" id="drill-btn-img" data-toggle="collapse" data-target="#drilldown">
                <span class="drill-bar"></span>
            </div>
        </div>
        <div class="global-back-cont h-50 bg-hash">
            <div class="new-head-bg">
                <section class="hedernav-cont">
                    <div class="navctrl-cont">
                        <div class="back-link-cont">
                            <a href="#" class="main-navlink"><img src="assets/images/ic_back_arrow_black.svg">
                                indosatooredoo.com</a>
                        </div>
                        <div class="lang-cont">
                            <span class="lang-span">
                                <a [class.selected]="selectedlanguage == 'EN'" href="javascript:void()"
                                    (click)="switchLang('EN')">EN</a>
                            </span>
                            <span class="lang-span">
                                <a [class.selected]="selectedlanguage == 'ID'" href="javascript:void()"
                                    (click)="switchLang('ID')">ID</a>
                            </span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <section class="mt-5">
        <div class="global-back-cont d-flex justify-content-between align-items-center">
            <img src="assets/images/back_dark.svg" alt="" title="">
            <h5 class="sec-headding">Syarat &amp; Ketentuan</h5>
            <img src="assets/images/help_dark.svg" alt="" title="">
        </div>
    </section>

    <div class="form-cont login-form pt-4 tandc-comp">
        <div class="mt-2 mb-2 text-center custom-logo">
            <img src="assets/images/custom-logo.png" alt="" title="">
        </div>
        <div class="form-inner-cont text-center mt-3">
            <h4 class="text-bold"> Syarat &amp; Ketentuan myIM3 di Tokopedia </h4>
        </div>
    </div>
    
    <section class="tandc-comp mt-4">
        <h4 class="text-bold"> A. Penggunaan Data Pengguna </h4>
        <p>
            Saya sebagai pelanggan jasa telekomunikasi PT Indosat Tbk (“Indosat Ooredoo Hutchison”) dan pengguna layanan PT Tokopedia (“Tokopedia”), untuk selanjutnya disebut sebagai “Pengguna”, menyadari bahwa dengan mengakses dan menyetujui pernyataan ini maka Pengguna memberikan persetujuan dan kewenangan kepada:
        </p>
        <ol type="a">
            <li>Indosat Ooredoo Hutchison untuk memberikan informasi terkait sisa pulsa dan paket penggunaan layanan telekomunikasi seluler(“Informasi Sisa Pulsa dan Paket Layanan”) dari nomor IM3 Pengguna kepada Tokopedia untuk kemudian ditampilkan pada situs atau aplikasi Tokopedia agar hanya dapat diakses oleh Pengguna;dan.</li>
            <li>Tokopedia untuk menyimpan Informasi Sisa Pulsa dan Paket Layanan Pengguna selama 12 bulan sejak tanggal persetujuan diberikan oleh Pengguna, kecuali Pengguna mencabut persetujuannya secara tertulis kepada Indosat Ooredoo Hutchison atau Tokopedia lebih cepat sebelum jangka waktu 12 bulan tercapai.</li>
        </ol>

        <h4 class="text-bold"> B. Registrasi Pengguna </h4>

        <ul>
            <li>
                Pengguna memahami dan menyetujui bahwa permintaan Informasi Sisa Pulsa dan Paket Layanan dari nomor IM3 Pengguna akan diberikan setelah Pengguna melakukan verifikasi melalui metode One Time Password (“OTP”).
            </li>
            <li>
                OTP akan dikirimkan melalui Short Message Service yang ditujukan ke nomor seluler IM3 Pengguna yang telah didaftarkan oleh Pengguna kepada dan diverifikasi oleh Tokopedia.
            </li>
            <li>
                Pengguna bertanggung jawab atas kerahasiaan OTP dimaksud dan disarankan untuk tidak memberikan OTP dimaksud kepada siapapun termasuk kepada pihak yang mengaku dari Indosat Ooredoo Hutchison dan Tokopedia.
            </li>
        </ul>

        <h4 class="text-bold"> Ketentuan Lainnya </h4>

        <ul>
            <li>
                Pengguna dengan ini menyetujui bahwa Indosat Ooredoo Hutchison dan Tokopedia tidak bertanggung jawab atas kerugian ataupun kendala yang timbul atas kesalahan atau kelalaian yang diakibatkan oleh Pengguna, termasuk namun tidak terbatas pada meminjamkan atau memberikan akses OTP kepada pihak lain.
            </li>
            <li>
                Pengguna menyetujui bahwa Pengguna dilarang untuk menciptakan dan/atau menggunakan perangkat, software, fitur dan/atau alat lainnya yang bertujuan untuk melakukan manipulasi, termasuk namun tidak terbatas pada : (i) manipulasi data atau (ii) aktivitas lain yang secara wajar dapat dinilai sebagai tindakan manipulasi sistem.
            </li>
            <li>
                Tokopedia dan Indosat Ooredoo Hutchison tanpa pemberitahuan terlebih dahulu kepada Pengguna, memiliki kewenangan untuk melakukan tindakan yang dianggap perlu atas setiap dugaan pelanggaran atas syarat dan ketentuan tersebut di atas dan/atau hukum yang berlaku termasuk namun tidak terbatas kepada penghentian akses pemberian Informasi Sisa Pulsa dan Paket Layanan dan/atau tindakan lainnya sesuai dengan ketentuan hukum yang berlaku.
            </li>
        </ul>

    </section>

</div>