<section class="bg_003 pr-0 py_24">
    <div class="row sub_banner_comp_01">
        <div class="col-5 sub_banner_text bg_emoji">
            <h3 class="mb-2">Funny Tunes</h3>
            <p>Shayari, Dialogues,
                Pranks and much more!</p>
            <div>
            <!-- <button class="cs_btn cs_btn_primary btn-sm" (click)="playAllsongs()" *ngIf="playpopup"> Play </button>
            <button class="cs_btn cs_btn_primary btn-sm" (click)="pauseAllsongs(1)"  *ngIf="!playpopup"> Pause </button> -->
            </div>
        </div>
        <div class="col-7">
            <swiper [config]="config">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let item of funnytuneslist">
                        <div class="card_style_n1">
                            <div class="card_style_5 height_100">
                                <div class="card_img" *ngIf="!item.playsong" (click)="playinvidualsongs(item)">
                                    <img src="{{item.imageurl}}"  onerror="this.src='assets/images/default_song_track.png'" alt="" class="icon-secondary">
                                </div>
                                <div class="card_img" *ngIf="item.playsong" >
                                    <img src="{{item.imageurl}}"  onerror="this.src='assets/images/default_song_track.png'" alt="" class="icon-secondary">
                                </div>
                                <div class="card_info">
                                    <div class="card_info_grp">
                                        <h4  title="{{item.metadata.album}}">{{titletrim(item.title)}}</h4>
                                        <p>{{item.metadata.yearofrelease==""?"Year-NA":item.metadata.yearofrelease}} | {{item.metadata.language}}</p>
                                    </div>
                                </div>
                            </div>
                            <!--card_style_1-->
                        </div>

                    </div>

                </div>

            </swiper>

            <!--Evergreen Classics -->
            <!-- <div
                class="swiper-container column_swiper_3 swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                <div class="swiper-wrapper" id="swiper-wrapper-b14710094dd4fcd65" aria-live="polite"
                    style="transform: translate3d(0px, 0px, 0px);">
                    <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 3"
                        style="width: 106.087px; margin-right: 10px;" *ngFor="let item of funnytuneslist">
                        <div class="card_style_n1">
                            <div class="card_style_5 height_100">
                                <div class="card_img">
                                    <img src="assets/images/red_music_symbol.svg" alt="" class="icon-secondary">
                                </div>
                                <div class="card_info">
                                    <div class="card_info_grp">
                                        <h4 class="text-ellipsis">{{item.title}}</h4>
                                        <p>{{item.yearofrelease}}| {{item.language}}</p>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                  




                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div> -->
            <!--auto_swiper_1-->

        </div>
    </div>
</section>