.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;

}
.cs_btn_primary {
     background:#ffffff;
    /* color: #ffffff; */
    color: #FD212A;
    /* border-color: #FD212A; */
}