<section class="main-hedding-cont mhc-mb0" [ngClass] = "{'mr-0 ml-0' : source =='package' }" *ngIf="hasContent !=2">
    <div class="hedding-nav-cont">
        <h2>{{'popular.title'|translate}}</h2>
        <!-- <a  *ngIf="source=='home'" class="button-link"  (click)="navigatetoBuy();">{{'morebtntext'|translate}} 
            <img src="{{env.cdnurl}}assets/images/ic_front_arrow_red.svg" alt="..."></a> -->
    </div>
</section>
<section class="inds-swiper03" [ngClass] = "{'pack-card-pd' : source =='package' }" *ngIf="hasContent ==0">
    <div class="swiper-container dif-swiper-cards4-imgbtn" [swiper]="config" [(index)]="index">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let i of placeholders">
                <section class="inds-sw03-card">
                    <div class="card placeload">
                        <div class="image-placeholder loads"></div>
                        <div class="card-body">
                            <h5 class="card-title content-shape loads"></h5>
                            <p class="card-text content-shape loads"></p>
                            <div class="button-link content-shape loads"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<section class="inds-swiper05" [ngClass] = "{'pack-card-pd' : source =='package' }" *ngIf="hasContent ==1">
    <div class="swiper-container dif-swiper-cards4-sw05" [swiper]="config" [(index)]="index">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let item of popularcontents">
                <section class="inds-sw05-card " (click)="gotpayment(item);">
                    <div class="card">
                        <!-- <img class="card-img-top" [src]="item.recommendedimage" alt="..."> -->
                        <div class="card05-img-sec loads">
                            <img class="card-img-top" [src]="item.recommendedimage" alt="..."  onerror="this.src='assets/images/default_image_content.svg'">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{item.package_name}}</h5>
                            <p class="card-text">{{item.package_subtitle}}</p>
                        </div>
                        <!-- <div class="card-footer">
                          
                            <div class="card-footer-text">{{item.tariff_display}}</div>
                        </div> -->
                        <div class="card-footer footer-rupees">
                            <div class="card-footer-text rupees-month"><span>Rp</span>{{item.traiffdisplay}}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<!-- <section class="inds-error-load container-fluid"  *ngIf="hasContent ==2">
    <div class="card">
        <div class="card-body">
            <div class="error-section">
                <img src="assets/images/ic_warning.svg" alt="">
                <p>Unable to fetch the content</p>
            </div>
        </div>
    </div>
</section> -->