<div class="login_mainwrapper">
    <div class="body_wrapper p-0">
        <div class="container">
            <section>
                <div class="login_header">
                    <div class="login_main_bg">
                        <div class="login_logo primary-font font22 text-center">
                            <label>BSNL</label>
                            <label class="primary_color">TUNES</label>
                        </div>
                        <!-- <div class="login_bg">
                            <img src="assets/images/login_bg.svg">
                        </div> -->
                        <div class="text-center login_supporttext">
                            <h5>Welcome to BSNL Tunes</h5>
                            <label>Enjoy the best of the BSNL Tunes</label>
                        </div>
                    </div>
                    <div class="login_bg_wave">
                        <div class="m-se-20">
                            <div class="login_whitecard">
                                <!--Support text-->
                                <p class="font12 light_black_color mb-2">{{message}}</p>
                                
                                <!-- mobile number -->
                                <!-- otp start -->
                                <div class="text-center">
                                    <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config"></ng-otp-input>
                                    <!-- <div id="otp" class="flex justify-center">
                                      <input class="m-2 text-center otp-control otp-control-solid" type="number" id="first" maxlength="1" />
                                      <input class="m-2 text-center otp-control otp-control-solid" type="number" id="second" maxlength="1" />
                                      <input class="m-2 text-center otp-control otp-control-solid" type="number" id="third" maxlength="1" />
                                      <input class="m-2 text-center otp-control otp-control-solid" type="number" id="fourth" maxlength="1" />
                                      <input class="m-2 text-center otp-control otp-control-solid" type="number" id="fifth" maxlength="1" />
                                      <input class="m-2 text-center otp-control otp-control-solid" type="number" id="sixth" maxlength="1" />
                                    
                                    </div> -->
                                  </div>
                                <!-- otp end -->
                                <!-- Support text start-->
                                <div class="d-flex mb-5 justify-content-between align-items-center">
                                    <div class="d-flex justify-content-start">
                                        <div class="loader"></div>
                                        <span class="font12 light_black_color ms-2">We are trying to fetch your OTP</span>                                    </div>
                                    <!-- <div>
                                        <div class="login_supporttxt">
                                            <a href="#">Resend OTP</a>
                                        </div>
                                    </div> -->
                                </div>
                                <!-- Support text end -->

                                <div class="login_btn_area">
                                    <div class="login_button">
                                        <a (click)="validateotp()">
                                            <img src="assets/images/arrow_active.svg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--div class="text-center mt-60 login_supporttxt">
                                <a href="#"> Login with Username & Password </a>
                            </div-->
                        </div>
                    </div>
                    <!-- footer -->
                    <div class="login_bottom">
                        <img src="assets/images/bottom_wave.svg">
                    </div>
                </div>
                
                
            </section>
        </div>
    </div>
</div>