<div class="wrapper">
    <section class="hedernav-cont">
    <div class="navctrl-cont">
        <div class="back-link-cont">

        </div>
        <div class="lang-cont">
            <span class="lang-span">
                <a [class.selected]="selectedlanguage == 'EN'" href="javascript:void()"
                    (click)="switchLang('EN')">EN</a>
            </span>
            <span class="lang-span">
                <a [class.selected]="selectedlanguage == 'ID'" href="javascript:void()"
                    (click)="switchLang('ID')">ID</a>
            </span>
        </div>
    </div>
</section>
    <section class="form-main-cont">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-lg-12">
                    <div class="form-cont login-form ">
                        <div class="form-title-cont ">
                            <h2 class="form-heading mb-55">{{'profile.title'|translate}}</h2>
                        </div>
                        <div class="form-inner-cont">
                            <form name="frmregister" autocomplete="off"  #frmregister='ngForm' id="frmregister" novalidate>
                                <div class="form-group">
                                    <label>{{'profile.fullname'|translate}}</label>
                                    <input type="text" titleChars name="txtfullname" [(ngModel)]="userinfo.name"  #name="ngModel"
                                     class="form-control" placeholder=" " maxlength="100" minlength="3">
                                     <div *ngIf="name.invalid && (name.dirty || name.touched)" class="err">
                                        <div *ngIf="name.errors?.required">
                                          * {{'profile.fullname.req'|translate}}
                                        </div>
                                      </div>
                                      <section class="inds-card-notification" *ngIf="usernameerror !=''">
                                        <div class="validation-section">
                                            <img class="alertimg" src="{{env.cdnurl}}assets/images/ic_alert-sign.svg">
                                            <p class="headding4"> {{usernameerror}}</p>
                                        </div> 
                                    </section>
                                </div>
                                <div class="form-group">
                                    <label>{{'profile.email'|translate}}</label>
                                    <input type="text" id="email" name="email" safeChars [(ngModel)]="userinfo.email"  #email="ngModel" 
                                     class="form-control" placeholder=""  maxlength="100" minlength="8"
                                     pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" >
                                     <div *ngIf="email.invalid && (email.dirty || email.touched)" class="err">
                                        <div *ngIf="email.errors?.required">
                                          * {{'profile.email.req'|translate}}
                                        </div>
                                      </div>
                                      <div [hidden]="!email.errors?.pattern">{{'profile.email.valid'|translate}}</div> 
                                </div>
                                <div class="form-group">
                                    <label>{{'profile.birthdate'|translate}}</label>
                                    <input type="text"  name="txtdob" id="txtdob"  [(ngModel)]="userinfo.dob"  #dob="ngModel"
                                     class="form-control calender disabled-date"  placeholder="MM/DD/YYYY" bsDatepicker 
                                     [bsConfig]="bsConfig"  [minDate]="minDate"   [maxDate]="maxDate">
                                </div>
                                <div class="form-group" *ngIf="days<=3 && showReferal">
                                    <label>{{'referral_code'|translate}}</label>
                                    <input type="text" name="referalcode" id="referalcode" titleChars [(ngModel)]="userinfo.referalcode"  #referalcode="ngModel"
                                    class="form-control" placeholder=" " maxlength="20" minlength="2">
                                    <p class="refer-code-text">{{'referral_code_helper_text'|translate}}</p>
                                </div>
                                <section class="inds-card-notification" *ngIf="msg !=''">
                                    <div class="validation-section">
                                        <img class="alertimg" src="{{env.cdnurl}}assets/images/ic_alert-sign.svg">
                                        <p class="headding4"> {{msg}}</p>
                                    </div> 
                                </section>
                                <div class="form-group form-button-cont text-center mb-0">
                                    <button type="button" class="btn btn-primary mt-110" [disabled]="frmregister.invalid" (click)="updateProfile()">{{'continue'|translate}}</button>
                                    <!-- <button type="submit" class="btn btn-primary mt-110">CONTINUE</button> -->
                                </div>
                                <div class="form-group form-link-cont text-center">
                                    <a (click)="gotoHome()" class="">{{'profile.later'|translate}}<img src="{{env.cdnurl}}assets/images/detail-red.svg"></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
</div>
<div class="modal fade" id="popup001" tabindex="-1" role="dialog" aria-labelledby="popup001" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-body">
                <div class="img-warning warning-new">
                    <img src="{{env.cdnurl}}assets/images/ok.jpg" alt="">
                </div>
                <h2 class="popup-heading">{{'sucess_redem_code'|translate}}</h2>
                <p class="popup-text">{{redemMsg}}</p>

                <div class="pop-link-cont">
                    
              <button
              type="button"
              class="btn btn-primary mb-2 m-auto d-block p-3 w-50"
              data-dismiss="modal" (click)="navigateToAccount()"
            >{{'check_now'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>