<h2 mat-dialog-title>RESET PASSWORD</h2>
<hr />
<form autocomplete="off" name="resetpwdForm" novalidate #resetpwdForm='ngForm'>
  <mat-dialog-content>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label> New Password </mat-label>
            <input matInput type="password" autocomplete="off" id="pwd" placeholder="" name="password"
              [(ngModel)]="resetForm.password" #password="ngModel" apppasswordchars maxlength="20" required>

          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label> Re-enter Password</mat-label>
            <input matInput type="password" autocomplete="off" id="newpwd" placeholder="" name="confirmpassword"
              [(ngModel)]="resetForm.confirmpassword" #confirmpassword="ngModel" apppasswordchars maxlength="20" required>

          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <br />
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <strong aria-hidden="true"> Password Policy</strong>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <div>Password should contain atleast 8 characters.</div>
                <div>Allows following character groups - </div>
                <div>English Uppercase Characters [A-Z] </div>
                <div>English Lower case Characters [a-z]</div>
                <div>Numerals[0-9]</div>
                <div>Non - alphabetic characters @$%</div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <br />
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions class="pull-right">
    <button class="mat-raised-button btn mr-2" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary btn" type="button" (click)="resetpassword()">Submit</button>
  </mat-dialog-actions>
</form>