<div class="wrapper">
    <app-header [pgname]="'readiness'"></app-header>
    <br/>
    <br/>
<section class="transaction-header-sec h-100 ">
    <div class="global-back-cont d-flex justify-content-between align-items-center bg-white">
        <img src="{{env.cdnurl}}assets/images/back_dark.svg"  (click)="goback()" alt="" title="">
        <h5 class="sec-headding">{{'4gcoverage'|translate}}</h5>
        <img src="{{env.cdnurl}}assets/images/help_dark.svg" (click)="openNewtab()" alt="" title="">
    </div>
</section>
<!-- <div class="spacer-15"></div> -->
<!--card on input 1-->
<section class="map-on-card-compo">
    <!-- <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804"
        width="100%" height="" frameborder="0" style="border:0"></iframe> style="min-width: 800px; min-height: 400px"-->
        <div id="map" class="geomap"  ></div>
        <!-- <agm-map style="height: 300px;" [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClicked($event)">  
        <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>  
        </agm-map>  -->
    <div class="search-section">
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="txtsearch" name="searchlocation"  #searchlocation="ngModel" id="txtsearch" placeholder="{{'search'|translate}}" (click)="navigatetoSearch()" aria-label="search">
            <img src="{{env.cdnurl}}assets/images/search-icon.svg" alt="">
        </div>

        <section class="inds-swiper04 container-fluid rewards-redeem-ref mt-2" *ngIf="showenablelocation">
            <!-- Swiper -->
            <div class="swiper-container inds-swiper04-cont">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <section class="inds-sw04-card">
                            <div class="card">
                                <div class="card-body pb-2">
                                    <h4>{{'gps_turned_off'|translate}}</h4>
                                    <p class="mb-0 f-12">{{'message_gps_turned_off'|translate}}</p>
                                </div>
                                <div class="redeem-footer">
                                    <a href="#">{{'turn_on_gps'|translate}}</a>
                                    <img src="{{env.cdnurl}}assets/images/ic_front_arrow_red.svg">
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>

</section>
<section class="inds-card007 four-g-section">
    <div class="">
        <div class="card container-fluid overview-card">
            <div class="card-body pb-0">
                <div class="drill-bar-cont mb-2">
                    <span class="drill-bar"></span>
                </div>
                <div class="d-flex dif-profile-comp">
                    <div class="profile-sec difuser-name">{{currentLocation}}</div>
                </div>
                <!-- <p class="search-desc">Jalan Professor Doktor Satrio, RT.11/RW.4, Kuningan, Karet Kuningan,
                    South Jakarta City,
                    Jakarta, Indonesia</p> -->
                <div class="hr-line profile-line"> <span class="post-profile-sec">{{'areacoverage'|translate}}</span>
                </div>
                <div class="fourg-rating">
                    <p class="rating-det">{{'rate_our_4gplus_quality_based_on_your_selection'|translate}}</p>
                    <div class="rating-option">
                        <button [disabled]="disableFeedback" (click)="assignFeedback('excellent')" class="btn btn-primary excellent mr-2"> <img
                                src="{{env.cdnurl}}assets/images/excellent-rating.svg" alt=""> {{'excellent'|translate}}</button>
                        <button [disabled]="disableFeedback" (click)="assignFeedback('bad')" class="btn btn-primary bad-rating ml-2"> <img src="{{env.cdnurl}}assets/images/bad-rating.svg"
                                alt="">
                            {{'bad'|translate}}</button>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>

    </div>
</section>