<!-- Modal popup002-->
<div class="ids-pay-modal-001"  tabindex="-1" role="dialog"  data-dismiss="modal"  >
    <div class="modal-dialog">
    <div class="modal-content ">
        <div class="modal-body">
            <div class="package-list">
                <ul class="package-row" *ngIf="!isSubscription">
                    <!-- Delete package -->
                    <li *ngIf="enableoptions.Unreg=='Y'">
                        <div class="package-text" (click)="openModal()">
                            <h2>{{'cta.popup2'|translate}}</h2>
                        </div>

                    </li>
                      <!-- Change package -->
                    <li>                       
                        <div class="package-text" (click)="navigatetobuy();">
                            <h2>{{'cta.popup2Package'|translate}}</h2>
                        </div>
                    </li>
                     <!-- Buy Extra package -->
                    <li *ngIf="enableoptions.BuyExtra=='Y'">
                        <div class="package-text"   (click)="navigatetoPackageList()">
                            <h2>{{'cta.popup2extra'|translate}}</h2>
                        </div>
                    </li>
                </ul>
                <ul class="package-row" *ngIf="isSubscription">
                    <!-- Delete package -->
                    <li>
                        <div class="package-text" (click)="openModal()">
                            <h2>{{'cta.popup2'|translate}}</h2>
                        </div>

                    </li>
                </ul>
            </div>
            <!-- <div class="middle-text">
                <span>!</span>
                <h2 class="popup-heading">{{'cta.popup2heading'|translate}}
                    <p class="boldtext">#{{'lebihuntung'|translate}}</p> {{'imi3'|translate}}</h2>
            </div> -->

            <!-- <p class="popup-text warning-text-red">*{{'cta.warning'|translate}}
            </p> -->
            <!-- <button type="button" class="btn btn-primary opt-button" data-dismiss="modal"
                (click)="imiapi.gotoApp();">{{ appRedircttxt |translate}}</button>
            <div class="pop-link-cont">
                <h5 class="head5">{{'cta.getmyim3app'|translate}}</h5>
                <a class="button-link" href="javascript:void();" data-dismiss="modal"
                    (click)="imiapi.gotoApp();">{{'cta.tapheretoopen'|translate}}</a>
            </div> -->
        </div>
    </div>
</div>

<div class="modal fade" id="popup001" tabindex="-1" role="dialog" aria-labelledby="popup001" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-body">
                <div class="img-warning warning-new">
                    <img src="{{env.cdnurl}}assets/images/ask.jpg" alt="">
                </div>
                <h2 class="popup-heading">{{content}}</h2>
                <p class="popup-text">{{'deactivate.desc'|translate}}</p>


                <button type="button" class="btn btn-primary opt-button"  (click)="deactivatePackage()" >{{'deactivate.yestxt'|translate}} </button>

                   <div class="pop-link-cont">

                       <!-- <h5 class="head5">Got myIM3 App?</h5> -->
                       <a class="button-link-black" (click)="modalRef.hide()" data-dismiss="modal">{{'cancel'|translate}}</a>
                   </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="reponsepopup" role="dialog" aria-labelledby="popup001" aria-hidden="true" (click)="closeresponsepopup()">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
           
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p>{{popupdata}}</p>
            </div>
        </div>

    </div>
</div>


</div>






<!-- End -->

