/* .fixed_footer {
  position: fixed;
  bottom: 0px;
  left: 50%;
  right: auto;
  width: 100%;
  transform: translateX(-50%);
} */
@media (max-width: 320px) {
  .set_btn1{
    position: absolute;
    top: -15px;
    right: 15px !important;
      border: none;
      transform: translateY(-50%);
     border-radius: 50px;
      background-color: #f9fafb;
      opacity: 1.2;
      padding: 3px 7px;
  }
}
@media (max-width: 375x) {
  .set_btn1{
    position: absolute;
    top: -15px;
    right: 15px !important;
      border: none;
      transform: translateY(-50%);
     border-radius: 50px;
      background-color: #f9fafb;
      opacity: 1.2;
      padding: 3px 7px;
  }
}
@media (max-width: 425px) {
  .set_btn1{
    position: absolute;
    top: -15px;
    right: 15px !important;
      border: none;
      transform: translateY(-50%);
     border-radius: 50px;
      background-color: #f9fafb;
      opacity: 1.2;
      padding: 3px 7px;
  }
}
@media (width: 768px) {
  .set_btn1{
    position: absolute;
    top: -15px;
    right: 150px !important;
      border: none;
      transform: translateY(-50%);
     border-radius: 50px;
      background-color: #f9fafb;
      opacity: 1.2;
      padding: 3px 7px;
  }
}
@media (width: 1024px) {
  .set_btn1{
    position: absolute;
    top: -15px;
    right: 290px !important;
      border: none;
      transform: translateY(-50%);
     border-radius: 50px;
      background-color: #f9fafb;
      opacity: 1.2;
      padding: 3px 7px;
  }
}

.set_btn{
  position: absolute;
  top: 58%;
  transform: translateY(-50%);
  right: 48px;
}
.set_btn1{
  position: absolute;
  top: -15px;
  margin-left: -32px !important;
    border: none;
    transform: translateY(-50%);
   border-radius: 50px;
    background-color: #f9fafb;
    opacity: 1.2;
    padding: 3px 7px;
}
.set_btn1 img{width:12px;}
.body_wrapper {
 
  padding-bottom: 47px !important;
}
.musicply1{
  display: none;
}
.musicply2{
  display: visible;
}
