<section class="py_24 mt-2">
    <swiper [config]="config">
        <div class="swiper-wrapper" style="width: 68.3333px; margin-left: 10px;">
          <div class="swiper-slide" *ngFor="let item of multialbumlist" >
            <div class="pack-banner">
                <img src={{item.src}} onerror="this.src='assets/images/default_song_track.png'" alt="" title=""  (click)="openNewtab(item)">
            </div>
          </div>
          
        </div>
       
       
      </swiper>
    <!--Evergreen Classics -->
   
    <!--auto_swiper_1-->

</section>
<!-- <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Child modal</h4>
        <button type="button" class="close pull-right btn-close" >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        I am a child modal, opened from parent component!
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="modal fade bottom_modal animated slideInUp faster bottom-popup004" tabindex="-1" role="dialog" bsModal #childModal="bs-modal"
    aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          
            <div class="modal-body">
              <button class="set_btn_btn">Recharge for {{newMsisdn}}</button>
                <button class="set_btn11"  data-bs-dismiss="modal" > <img
                    src="assets/images/close_black.svg" alt="" title="" (click)="hideChildModal()"  /></button>
                <div class="mt-4">
                  <div class="noresult-found-comp">
                    <h4>pack{{" "}}{{paymentData[0]?.price}}</h4>
                    <p>{{paymentData[0]?.title}}</p>
                  </div>
                    <div class="row main_div">
                      
                      <div class="row justify-content-between">
                        <div class="col-6 divtst" >
                          <label >Voice Calls</label>
                        </div>
                        <div class="col-6">
                          <p class="tst_align">{{paymentData[0]?.voice}}</p>
                        </div>
  
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-6 divtst">
                          <label>Data</label>
                        </div>
                        <div class="col-6">
                          <p class="tst_align">{{paymentData[0]?.data}}</p>
                        </div>
  
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-6 divtst">
                          <label>SMS</label>
                        </div>
                        <div class="col-6">
                          <p class="tst_align">{{paymentData[0]?.sms}}</p>
                        </div>
  
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-6 divtst">
                          <label>Validity</label>
                        </div>
                        <div class="col-6">
                          <p class="tst_align">{{paymentData[0]?.validity}}</p>
                        </div>
  
                      </div>
                      <div>
                      <div class="text-left">
                        <div>
                          <h6>other Benefits</h6>
                          <p>{{paymentData[0]?.benfits}}</p>
                        </div>
                      </div>
  
                      </div>
                    </div>
                    <div class="row justify-content-between mt-4 sub_div">
                      <div class="col-6 divtst">
                        <h4 >₹{{paymentData[0]?.price}}</h4>
                      </div>
                      <div class="col-6">
                       <button class="cs_btn cs_btn_primary btn-md" (click)="navigateTopayment()">
                        continue
                       </button>
                      </div>

                    </div>

                </div>
            </div>
          
        </div>
    </div>
</div> -->