.set_btn11{
  position: absolute;
  top: -3%;
  transform: translateY(-50%);
  right: -15px;
  border: none;
  border-radius: 74%;
  background-color: #f9fafb;
  opacity: 1.2;
  padding: 7px;
  display: flex;
  
  }
  .sub_div{
    margin: 0 auto;
   

  }
  .main_div{
    border-radius: 15px;
    background-color: #FFF9DC;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
  }
  .tst_align{
    text-align-last: end;
    font-family:Proxima-Nova-Bold, Arial, Helvetica, sans-serif;
  }
  .divtst{
    text-align: start;
  }
  .set_btn_btn{
    /* position: absolute; */
    transform: translateY(-50%);
    /* right: 15%;
    top: -6px; */
    border: 1px solid yellow;
    background-color: #FFF9DC;
    opacity: 1.2;
    padding: 6px;
    display: flex;
    border-radius: 0px 0px 6px 6px;
    /* width: 65%; */
    margin: 0 auto;
    text-align: center;
    margin-top: -6px;

  }
  .main_div .row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 50%;
    padding-right: 0px !important;
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}
  